.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 40px;
}

.card__delete-button {
  background-image: url(../images/deleteicondefault.svg);
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  background-image: url(../images/deleteiconred.svg);
  transition: 0.3s;
}

.card__like-button {
  background: transparent url(../images/like-icon.svg) center no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  margin: 0;
  padding: 0;
  cursor: pointer;
  flex-shrink: 0;
  min-width: 23px;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/redhearticon.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/pinkhearticon.svg);
}

.card .card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #212121;
}

@media screen and (max-width: 627px) {
  .card__content {
    margin: 12px 0 20px;
    gap: 10px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 250px;
  }
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
